<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em contato comigo!!</title>
</head>
<body style="color: rgb(185, 14, 120);"> 
    <header>
        <h1>Entre em contato comigo</h1>
    </header>
    <article>
        <!--inicio do formulario com a tag <form>-->
            <!--atributo action refere-se ao destino do formulario-->
        <form action="mailto:%20gabriellamendanha2@gmail.com" method="post" id="fcontato" oninput="resul.value" =parseint(valor01.value)+parseint(valor02.value)"="">
            <fieldset>
                <langend>coloque aqui!!</langend>
                <br>
            <!--label e o rotulo do input-->
            <label for="tNome">Nome</label>
            <input type="text" size="50" name="Nome" id="tNome" required="required">
            <br><br>
</head>
<body>
    
</body>
</html>