<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entreterimento</title>
  </head>
  <body>
    Entreterimento<header style="display: flex;">
      <!--aqui começa meu logo-->
      <section>
        <img src="perfil2.htm alt="foto de perfil" heigth=""50px" widt="50px">
        <section>
          <!--navegaça0 (menu)-->
          <Nav>
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="mysite.html"sobre mim </a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="entreterimento.html">entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="musica.html">musica</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="contato.html">contato</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          </Nav>
        </header>
        <!--conteudo de entreterimento-->
        <!--exemplo de uso <article>-->
<article>
 <h3>one place</h3>
 <h6>nivel: 5/5</h6>
 <p>
  <img src="perfil2.htm" alt="one pice e seus personagens"widt="50px" heigh="50px"
 </p>
 <p>
  one pice e sobre um pirata que estica<br>
  eles obteram poderes comendo uma fruta<br>
  que lhe concedeu poderes de borracha.
 </p>
 conheça mais sobre one piece:&nbsp; <a href="#">leia +</a>
</article>

</article>
<h1>teen wolf</h1>
<h5>4/5</h5>
<p>
   <img src="treen wolf.jfif" alt="teen wolf"
</p>
    <footer>
        by gabriella&copy;

  </body>

</html>
