<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musica</title>
</head>
<body>
    <!--seleçao  para minhas musicas -->
    <header>
        <!---Aqui começa minha playlist-->
        <section>Logo</section>
        <!--Navegaçao(menu)-->
        <nav>
      <br><br>
    

        </nav>
      </header>
  
      <!--Conteudo Primcipal do My Site -->
      <main>
        <h1>MUSICAS BR </h1>
        <p>
        
  
          <ul>&lt;--top 10 --&gt;</ul>
  
              
          <li> poesia acustica  2</li>
          <li> minha cura</li>
          <li>l7 leonn </li>
          <li>Jorge e Matheus  </li>
          <li>Matheus e kauan </li>
          <li>bem melhor </li>
          <li>pandora </li>
          <li>x1</li>
          <li>poesia acustica 13 </li>
              
              </ul>
        <p></p>
      </ul></main>
</body>
</html>
