<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entreterimento</title>
  </head>
  <body>
    Entreterimento
    <header style="display: flex">
       
        <article>
            <h1>One Piece</h1>
        </article>
    <main>
        <h1>Conheça um pouco do meu mundo</h1>
        <p>
          Olá, me chamo gabriella tenho 15 anos <br />
          amo maquiagem <br />
          moro em olinda , <br />
          no Pina.
<article>
<h1>

</h1>
</article>

    <footer>
        by gabriella&copy;

  </body>

</html>
