<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>my space</title>
  </head>
  <body>
    <!--Cabeçalho do meu site -->
    <header>
      <!---Aqui começa meu logo-->
      <section>Logo</section>
      <!--Navegaçao(menu)-->
      <nav>Sobre mim / Entreterimento / Musica</nav>
    </header>

    <!--Conteudo Primcipal do My Site -->
    <main>
      <h1>Welcome to universe</h1>
      <P>
        oii, sou gaby <br>tenho 15 anos <br> amo a tecnologia , estudar ,e aprender cada vez mais ,amo animais ,plantas musicas e muito mais <br>
        <h3>Coisas sobre mim </h3>

        <ul><--lista nao ordenadas--></ul>

            </ul>
        <li>Estudo so pelo conhecimento</li>
        <li>amo maquiagem
        <li>gosto de fime </li>
        <li>musicas </li>
        <li>livros </li>
        <li>estudnte</li>
            </ul>
        <li>TENHO PRATICAS :</li>
            <ul>
        <li>maquiar</li>
        <li>Gosto de inovaçao </li>
        <li>praia </li>
            <ul>
        <li>Adoro Comer</li>
        <li>Gosto de me Divertir </li>
            </ul>
      </P>
    </main>
    <!--Rodape-->
    <footer>
        by gabriella MS &copy;
    </footer>
  </body>
</html>
